# Android Studio 3.0+ defaults
*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.externalNativeBuild

# built binaries
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
local.properties
Thumbs.db
build/
.navigation
captures/
output.json
obj/

*.jks

#.cxx

app/debug/
app/release/
